*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif; 
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-title{
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}
.section-title span{
    color: darkkhaki;
}
#hero{
    background-image: url(rishitpatel.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

#hero::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
}
#hero .hero{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}
#hero h1{
    display: block;
    width: fit-content;
    font-size: 6rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1.5s;
}
#hero h1:nth-child(1){
    animation-delay: 1.5s;
}
#hero h1:nth-child(2){
    animation-delay: 2.5s;
}

#hero h1 span{ 
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: darkkhaki;
    animation: text_reveal_box 1.5s ease;
    animation-delay: .5s;
}
#hero h1:nth-child(1) span{
    animation-delay: .5s;
}
#hero h1:nth-child(2) span{
    animation-delay: 1.5s;
}
#hero .cta{
    display: inline-block;
    padding: 10px 40px;
    color: white;
    background-color: transparent;
    border: 2px solid darkkhaki;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rm;
    margin-top: 40px;
    transition: .2s ease;
    transition-property: background-color, color; 
}
#hero .cta:hover {
    color: white;
    background-color: darkkhaki;

} 


#services .services {
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
}
#services .service-top {
	max-width: 1500px;
	margin: 0 auto;
}
#services .service-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
}
#services .service-item {
	flex-basis: 80%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
	border-radius: 10px;
	background-size: cover;
	margin: 10px 5%;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
#services .service-item::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #dd9292 0%, #ee9999 100%);
	opacity: .9;
	z-index: -1;
}
#services .service-bottom .icon {
	height: 80px;
	width: 80px;
	margin-bottom: 20px;
}
#services .service-item h2 {
	font-size: 2rem;
	color: white;
	margin-bottom: 10px;
	text-transform: uppercase;
}
#services .service-item p {
	color: white;
    text-align: left;
    font-size: 1.5rem;
}

.about-area{
    padding: top 50%;

}
.about-img{
    position: relative;
}
.about-img:before{
    position: absolute;
    content: '';
    right: -30px;
    top: 30px;
    border: 10px solid rgba(255, 255, 255,0.5);
    width: 100%;
    height: 100%;
}
.about-img img{
    width: 100%;

}
.about-text{
    padding-top: 20%;

}
.about-text h2{
    color: black;
    font-family: lobster;
    font-size: 50px;


}
.about-text p{
    font-size: 18px;
    color: black;
}
.about-text a {
    background: black;
    color: #fff;
    padding: 7px 15px;
    display: inline-block;
    margin-top: 20px;
}
@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */

	#services .service-bottom .service-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
}

@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}
@keyframes text_reveal{
    100%{
        color:beige
    }
}
@keyframes text_reveal_name{
    100%{
        color: darkkhaki;
        font-weight: 500;
    }
}
